*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

.navbar{
    background-image:linear-gradient(black, #86003C);
}

.logo{
    width: 15vw;
}

.navbar-toggler-icon{
    color:white ;
}
.nav-link{
    width: max-content;
    background-color: transparent;
    margin: 1vw 1vh;
    border-radius: 3vh;
    border: 0.5vh solid #86003C;
}

.nav-link:hover {
    background-color: #86003C;
    color: #fff;
}

.active{
    background-color: #86003C;
}

.banner{
    background-image:linear-gradient(#86003C, black);
   
}

h1{
    color:white;
    margin-top: 4vh;
    text-align: center;
    font-size: 2em;
}
.arrow{
    color: #E41F7B;
    max-height: 1em;
    max-width: 1em;
}
.arrow:hover{
    color: #E41F7B;
    opacity: 50%;
}

main{
    background-color: black;
}

.btn-search{
    background-color:transparent;
    border-radius: 1vh;
    color: #E41F7B;
    border: 1px solid #E41F7B;
    align-self: flex-end;
}

.btn-search:hover{
    background-color:#E41F7B;
    color: white;
}

#search-input{
    max-width: 25em;
}

.contact-form{
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 5vh 5vw;
    border: 1px solid #86003C;
    border-radius: 3px;
    background: rgba(243, 118, 183, 0.272);
}

#details-main{
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.details-image{
    height: 100%;
    width: 100%;
    object-fit: cover;

}


.card{
    border: 2px solid #86003C;
    margin: 3vh;
   
    
}

.card-img-top {
    height: 40%;
}

.card-body {
    background: rgba(243, 118, 183, 0.272) !important;
}

.card-title{
    text-align: center;
    font-weight: bold;
}

footer{
    background-image: linear-gradient(black, #86003C);
}

.link-light:hover{
    opacity: 0.5;
}

table{
    empty-cells: show;
    margin:0;
    background: rgba(108, 10, 44, 0.231);
}

th{
    height: 10vh;
    font-weight: bolder;
    font-size: 1.5em;
    
    
}

td{
    height: 8vh;
    font-weight: bold;
}

main{
    min-height: 70vh;
}

/* COMPUTADORA (LARGE)*/

@media all and (min-width: 1024px) and (max-width: 1280px) { }
  
 /*TABLET (MEDIUM)*/
  @media all and (min-width: 480px) and (max-width: 768px) { }
  
  /* TELÉFONOS (SMALL) */
  @media all and (max-width: 480px) { }
  
  /*  Orientación: Vertical */
  @media screen and (orientation:portrait) { }
  
  

  
